@import "_variables"
@import "_components"

body
  background #131313
  color #d2d2d2
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size 100%
  font-weight 300
  line-height 1.8
  margin 0
  
h1, h2, h3, h4, h5, h6
  font-weight 600
  color #f4f4f4